html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  background-color: #000;
}

.ftco-navbar-light {
  background: transparent !important;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 3;
  padding: 0;
}

.ftco-navbar-light .navbar-brand {
  color: #ffffff;
}

.ftco-navbar-light .navbar-brand:hover,
.ftco-navbar-light .navbar-brand:focus {
  color: #ffffff;
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
  font-size: 14px;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 400;
  color: #ffffff;
  opacity: 1 !important;
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
  color: #ffffff;
}

.ftco-navbar-light .navbar-nav > .nav-item.cta > a {
  background: #1309a0;
  color: #ffffff;
  border-radius: 5px;
}

.ftco-navbar-light .navbar-nav > .nav-item.active > a {
  color: #1309a0;
}

/* ***************this below written code will work when our page content goes more than screen size or when it is scrolled */

.ftco-navbar-light.scrolled .nav-item.active > a {
  color: #1309a0 !important;
}

.ftco-navbar-light.scrolled .nav-item.cta > a {
  color: #ffffff !important;
  background: #1309a0;
  border: none !important;
  border-radius: 0;
}
.ftco-navbar-light.scrolled .nav-item.cta > a span {
  display: inline-block;
  color: #ffffff !important;
}

.ftco-navbar-light.scrolled .nav-item.cta.cta-colored span {
  border-color: #1309a0;
}

.ftco-navbar-light.scrolled .nav-link {
  padding-top: 0.7rem !important;
  padding-bottom: 0.7rem !important;
  color: #000000 !important;
}

.ftco-navbar-light.scrolled .nav-link.active {
  color: #1309a0 !important;
}

.ftco-navbar-light.scrolled.awake {
  margin-top: 0px;
  transition: 0.3s all ease-out;
}

.ftco-navbar-light.scrolled.sleep {
  transition: 0.3s all ease-out;
}
.ftco-navbar-light.scrolled .navbar-brand {
  color: #000000;
}

.navbar-brand {
  font-weight: 900;
  font-size: 20px;
}

/* *********carousel****** */
.container .links a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  margin: 0 20px;
  transition: 0.3s linear;
}

.links a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  background-color: #53cc8d;
  height: 3.5px;
  transition: 0.3s linear;
}

.links a:hover::before,
.links a:hover {
  color: #53cc8d;
  width: 100%;
}
.owl-carousel {
  position: relative;
}
.owl-carousel .owl-item {
  opacity: 0.4;
}

.owl-carousel .owl-item.active {
  opacity: 1;
}

.owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  position: absolute;
  transform: translateY(-50%);
  margin-top: -10px;
  color: #1309a0 !important;
  transition: all 0.7s ease;
  opacity: 0;
}

.owl-carousel .owl-nav .owl-prev span::before,
.owl-carousel .owl-nav .owl-next span::before {
  font-size: 30px;
}

.owl-carousel .owl-nav .owl-prev {
  left: 0;
}
.owl-carousel .owl-nav .owl-next {
  right: 0;
}

.owl-carousel:hover .owl-nav .owl-prev,
.owl-carousel:hover .owl-nav .owl-next {
  opacity: 1;
}

.owl-carousel:hover .owl-nav .owl-prev {
  left: -25px;
}
.owl-carousel:hover .owl-nav .owl-next {
  right: -25px;
}

.owl-carousel.home-slider {
  position: relative;
  height: 750px;
  z-index: 0;
}

.owl-carousel.home-slider .slider-item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 750px;
  position: relative;
  z-index: 0;
}

.owl-carousel.home-slider .slider-item .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  opacity: 0.7;
}

.owl-carousel.home-slider .slider-item .slider-text {
  color: #ffffff;
  height: 750px;
  text-align: right;
}

.owl-carousel.home-slider .slider-item .slider-text .subheading {
  font-size: 80px;
  color: #1309a0;
  font-weight: normal;
  margin-bottom: 0;
  line-height: 1;
  font-family: "system-ui", cursive;
}

.owl-carousel.home-slider .slider-item .slider-text h1 {
  font-size: 60px;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 0;
  line-height: 1.5;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: "system-ui", cursive;
}

.owl-carousel.home-slider .owl-nav .owl-prev span,
.owl-carousel.home-slider .owl-nav .owl-next span {
  color: #ffffff;
}

.owl-carousel.home-slider:hover .owl-nav .owl-prev span,
.owl-carousel.home-slider:hover .owl-nav .owl-next span {
  opacity: 1;
}

.owl-carousel.home-slider:hover .owl-nav .owl-prev {
  left: 20px;
}

.owl-carousel.home-slider:hover .owl-nav .owl-next {
  right: 20px;
}

.owl-custom-nav {
  float: right;
  position: relative;
  z-index: 10;
}

.owl-custom-nav .owl-custom-prev,
.owl-custom-nav .owl-custom-nav {
  padding: 10px;
  font-size: 30px;
  background: #ccc;
  line-height: 0;
  width: 60px;
  text-align: center;
  display: inline-block;
}

/* *************featured section *************** */

.featured {
  padding-top: 30px;
  width: 100%;
  margin-top: -230px;
  border-top: 1px solid rgb(255, 255, 255);
}

.featured .featured-menus {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.featured .featured-menus .text {
  width: 100%;
}

.featured .featured-menus .text h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
  color: #ffffff;
}

.featured .featured-menus .text p {
  font-size: 14px;
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.781);
}

.featured .featured-menus .menu-img {
  width: 90px;
  height: 90px;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 50%;
}
.img{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%; 
  height: 100%; 
}

.col-md-6 {
  margin-bottom: 20px; 
}

ftco-section {
  margin-bottom: 50px; 
}

.featured .text {
  margin-top: 20px; 
}
.user-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.ftco-wrap-about {
  background-position: bottom center !important;
}
.ftco-wrap-about .heading-section h2 {
  font-weight: 600 !important;
}

.ftco-wrap-about .img {
  width: 100%;
}


.intro {
  width: 100%;
  background: #ffffff;
  padding-top: 102px;
  padding-bottom: 0px;
}

.intro_image {
  width: 100%;
}

.intro_image img {
  max-width: 100%;
}

.intro_content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -70px;
  width: 679px;
  background: #ffffff;
  border: solid 2px #3c51af;
  box-shadow: 0px 45px 70px rgba(0, 0, 0, 0.24);
  z-index: 1;
  padding-top: 55px;
  padding-bottom: 59px;
  padding-left: 70px;
  padding-right: 50px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.intro_subtitle {
  font-size: 28px;
  font-family: "system-ui";
}

.intro_title {
  margin-top: 6px;
  font-family: "Great Vibes", cursive;
  color: #199580;
  font-weight: 600;
}

.intro_title h2 {
  font-size: 40px;
}

.intro_text {
  margin-top: 32px;
  font-size: 14px;
}

.ftco-animate {
  opacity: 0;
  visibility: hidden;
}

#section-counter {
  margin-top: 50px;
  position: relative;
  z-index: -1;
}

#section-counter::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  z-index: -1;
  opacity: 0;
  background: #000000;
}

.ftco-counter {
  padding-bottom: 5em;
  background-position: center center !important;
}

.ftco-counter .block-18 {
  display: block;
  width: 100%;
}

.ftco-counter .text strong.number {
  font-weight: 600;
  font-size: 44px;
  color: #1309a0;
  display: block;
  line-height: 1;
}

.ftco-counter .text span {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
}

.ftco-counter p {
  line-height: 1.8;
  font-size: 18px;
}

.gallery__pic img {
  max-width: 100%;
}

.bg-light {
  background: #fafafa !important;
}

.ftco-section {
  padding: 7em 0;
  position: relative;
}

.heading-section {
  position: relative;
}
.block-18 .text span {
  color: white;
}
.col-md-3 p {
  color: white;
}

.heading-section .subheading {
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  font-weight: normal;
  font-size: 100px;
  display: block;
  margin-bottom: 0;
  color: rgb(255, 255, 255);
  color: #2515bc;
  line-height: 1;
  margin-top: 0;
  z-index: -1;
  font-family: "system-ui", cursive;
}

.heading-section h2 {
  font-size: 50px;
  font-weight: 900;
  line-height: 1.2;
}

.menu-wrap {
  margin-bottom: 0;
}

.heading-menu h3 {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 1em;
}

.menus {
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border: 1px solid #e6e6e6;
  padding: 30px 20px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.menus .text {
  width: calc(100% - 100px);
  padding-left: 20px;
}

.menus .text .one-half {
  width: calc(100% - 80px);
}

.menus .text .one-half h3 {
  font-size: 24px;
  font-weight: 500;
}

.menus:hover .text p {
  color: rgba(0, 0, 0, 0.8);
}
/* ********* Testimonials section ************ */
.testimony-section {
  position: relative;
  z-index: 0;
  background-position: center center !important;
  position: relative;
  background-attachment: fixed;
}

.testimony-section .img-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
}

.testimony-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background: #000;
  opacity: 0.7;
}
.testimony-section .owl-carousel {
  margin: 0;
}

.testimony-section .owl-carousel .owl-stage-outer {
  padding: 1.5em 0 2em 0;
  position: relative;
}
.testimony-section .owl-nav {
  position: absolute;
  top: 100%;
  width: 100%;
}

.testimony-section .owl-nav .owl-prev,
.testimony-section .owl-nav .owl-next {
  position: absolute;
  transform: translateY(-50%);
  margin-top: -10px;
  outline: none !important;
  transition: all 0.3s ease;
  opacity: 0;
}

.testimony-section .owl-nav .owl-prev span::before,
.testimony-section .owl-nav .owl-next span::before {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}

.testimony-section .owl-nav .owl-prev:hover span::before,
.testimony-section .owl-nav .owl-prev:focus span::before,
.testimony-section .owl-nav .owl-next:hover span::before,
.testimony-section .owl-nav .owl-next:focus span::before {
  color: #ffffff;
}
.testimony-section .owl-nav .owl-prev {
  left: 50%;
  margin-left: -80px;
}
.testimony-section .owl-nav .owl-next {
  right: 50%;
  margin-right: -80px;
}

.testimony-section .owl-dots {
  text-align: center;
}

.testimony-section .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.253);
}

.testimony-section .owl-dots .owl-dot.active {
  background: #ff2377;
}

.testimony-wrap {
  display: block;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0 20px;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 30px 33px -41px rgba(0, 0, 0, 0.24);
}
.testimony-wrap .text p {
  font-style: italic;
}

.testimony-wrap .icon {
  position: absolute;
  top: -20px;
  left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ff2377;
}

.testimony-wrap .icon span {
  color: #ffffff;
}

.testimony-wrap .user-img {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50%;
}

.testimony-wrap .name {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 0;
  color: #ffffff;
  font-style: normal !important;
}

.testimony-wrap .position {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
}

.heading-section.heading-section-white .subheading {
  color: #c8a97e;
}
.heading-section.heading-section-white h2 {
  color: #ffffff;
}
.heading-section.heading-section-white p {
  color: rgba(255, 255, 255, 0.9);
}

.staff {
  transition: all 0.3s ease;
}


.staff .img {
  height: 320px;
  border-radius: 5px;
  background-position: top center;
}

.staff .text {
  background: #ffffff;
  transition: all 0.3s ease;
}

.staff .text h3 {
  font-size: 18px;
  margin-bottom: 0;
  font-weight: 600;
}

.staff .text .position {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  display: block;
}
.staff .text .faded {
  opacity: 1;
  transition: all 0.3s ease;
}

.ftco-social {
  padding: 0;
}
.ftco-social li {
  list-style: none;
  margin-right: 10px;
}

.ftco-social span {
  color: #7e2147d8;
}



.btn {
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0px 24px 48px -12px rgba(0, 0, 0, 0.1);
}

.btn:hover,
.btn:active,
.btn:focus {
  outline: none;
}

.btn.btn-primary {
  background: #c8a97e;
  border: 1px solid #c8a97e;
  color: #ffffff;
}

.btn.btn-primary:hover {
  background: transparent;
  border: 1px solid #c8a97e;
  color: #000000;
}

.btn.btn-primary.btn-outline-primary {
  border: 1px solid #c8a97e;
  background: transparent;
  color: #c8a97e;
}

.btn.btn-primary.btn-outline-primary:hover {
  border: 1px solid transparent;
  background: #c8a97e;
  color: #ffffff;
}

.single-cat-widget {
  position: relative;
  text-align: center;
}

.single-cat-widget .overlay-bg {
  background: rgba(0, 0, 0, 0.85);
  margin: 7%;
  transition: all 0.4s ease 0s;
}

.single-cat-widget img {
  width: 100%;
}
.single-cat-widget .content-details {
  top: 25%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  bottom: 0px;
  position: absolute;
}

.single-cat-widget .content-details h4 {
  color: #ffffff;
  margin-bottom: 0;
}

.single-cat-widget .content-details span {
  display: inline-block;
  background: #ffffff;
  width: 60%;
  height: 1%;
}

.single-cat-widget .overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.single-cat-widget:hover .overlay-bg {
  background: rgba(186, 146, 54, 0.85);
  margin: 7%;
  transition: all 0.4s ease 0s;
}
.ftco-bg-dark {
  background: #3c312e;
}

.ftco-footer {
  font-size: 14px;
  background: #141313;
  padding: 50px 0 10px 0px;
}
.ftco-footer .ftco-footer-logo {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.ftco-footer .ftco-footer-widget h2 {
  font-weight: normal;
  color: #ffffff;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 700;
}

.ftco-footer .ftco-footer-widget ul li a span {
  color: #ffffff;
}

.ftco-footer p {
  color: rgba(255, 255, 255, 0.7);
}

.ftco-footer a {
  color: rgba(255, 255, 255, 0.7);
}

.ftco-footer a:hover {
  color: #ffffff;
}

.ftco-footer .ftco-heading-2 {
  font-size: 17px;
  font-weight: 700;
  color: #000000;
}

.ftco-footer .categories li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.ftco-footer .categories li a span {
  color: rgba(255, 255, 255, 0.5) !important;
}

.ftco-footer-social li {
  list-style: none;
  margin: 0 10px 0 0;
  display: inline-block;
}
.ftco-footer-social li a {
  height: 40px;
  width: 40px;
  display: block;
  float: left;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  position: relative;
}

.ftco-footer-social li a:hover {
  background: #065832;
}

.ftco-footer-social li a span {
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ftco-footer-social li .fa:hover {
  color: #000000;
}

.list {
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-auto-rows: 300px;
  gap: 20px;
  justify-items: center;
  align-content: space-between;
}

.list .item img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  transition: transform 0.5s;
}

.list .item:hover img {
  transform: scale(1.2);
}

.list .item {
  color: #c7c3c3;
  font-family: Poppins;
  position: relative;
  transition: 0.5s;
}

.list .item .content {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 20px;
  transform: translateX(-100%);
  opacity: 0;
  transition: 0.5s;
}

.list .item:hover .content {
  opacity: 1;
  transform: translateX(0);
}

.list:hover .item:not(:hover) {
  filter: blur(8px);
}

@media screen and (max-width: 768px) {
  .list {
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    grid-auto-rows: 200px;
  }
}

.cont {
  position: relative;
  width: 100%;
  height: 800px;
}

.box {
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  animation: animate 20s linear infinite;
}

@keyframes animate {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}

.box span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
  -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #004);
}

.box span img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ftco-footer {
  text-align: center;
}

.white-text {
  color: white;
}

.con {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px 50px;
  padding: 100px 50px;
}

.con .card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 350px;
  height: 300px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0, 15);
  transition: 0.5s;
}

.con .card:hover {
  height: 400px;
}

.con .card .imgBx {
  position: absolute;
  top: 20px;
  width: 300px;
  height: 220px;
  background-color: #3c312e;
  border-radius: 12px;
  transition: 0.5s;
  right: 25px;
}

.con .card:hover .imgBx {
  top: -100px;
  transform: scale(0.75);
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.con .card .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.con .card .content {
  position: absolute;
  top: 252px;
  width: 100%;
  padding: 0 30px;
  height: 35px;
  overflow: hidden;
  text-align: center;
  transition: 0.5s;
}

.con .card:hover .content {
  top: 110px;
  height: 300px;
}

.con .card .content h2 {
  font-size: 1.5em;
  font-weight: 700;
  color: var(--clr);
}

.con .card .content p {
  color: #141313;
}

.con .card .content a {
  position: relative;
  top: -5px;
  display: inline-block;
  padding: 15px 25px;
  background: var(--clr);
  color: white;
  font-weight: 500;
  text-decoration: none;
  border-radius: 8px;
  margin: 0 auto;
}

.con .card a {
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #002896;
  font-size: 1.2rem;
  font-weight: bold;
  transition: 0.5s;
  overflow: hidden;
  margin-right: 70px;
}

.con .card .content a {
  background-color: #002896;
  color: #000;
  box-shadow: 0 0 5px #002896, 0 0 25px #002896, 0 0 50px #002896,
    0 0 200px #002896;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #000500);
}
